h1 {
    text-align: center;
}

section {
    width: 306px;
    height: 306px;
    font-size: 0;
    margin: 0 auto;
}

.cell {
    display: inline-block; /*div는 block요소라서 한줄을 다 차지하기 떄문에*/
    width: 100px;
    height: 100px;
    border: 1px solid #000; 
}

.tomato {
    background-color: tomato;
}

.orange {
    background-color: orange;
}

.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    background-color: red;
    color: #ffffff;
    width: 300px;
    font-size: 100px;
    display: table-cell; /* 수직 가운데 정렬하기 위한 추가 */
    vertical-align: middle; /* 수직 가운데 정렬하기 위한 추가 */
    text-align: center;
}

.modal-text {
    display: inline-block;
    display:none;
}